<content>
	<div class="head">
		<!-- head content goes here -->
	</div>
	<div class="details">
		
		<legend class="expanded" data-click="toggle-wrapper">
			<i class="icon-chevron-right"></i>
			General
		</legend>
		<div class="wrapper general">
			<!-- general content goes here -->
		</div>

		<legend class="expanded" data-click="toggle-wrapper">
			<i class="icon-chevron-right"></i>
			Open this kind with
		</legend>
		<div class="wrapper open-with">
			<!-- open-with content goes here -->
		</div>

		<legend class="expanded1" data-click="toggle-wrapper">
			<i class="icon-chevron-right"></i>
			Preview
		</legend>
		<div class="wrapper preview">
			<!-- preview content goes here -->
		</div>

		<legend class="expanded" data-click="toggle-wrapper">
			<i class="icon-chevron-right"></i>
			Sharing &amp; Permissions
		</legend>
		<div class="wrapper sharing">
			<!-- sharing content goes here -->
		</div>

	</div>
</content>
