<content>
	<div class="head">
		<div class="icon">
			<i style="background-image: url(/app/ant/icons/app-icon-solitaire.png)"></i>
		</div>
		<div class="info">
			<h2>Desktop</h2>
			<h3>123.4 Kb</h3>
		</div>
	</div>
	<div class="details">
		
		<legend>
			<i class="icon-chevron-right"></i>
			General
		</legend>
		<ul>
			<li>
				<span>Kind</span>
				<span>PNG Image</span>
			</li>
			<li>
				<span>Size</span>
				<span>123 456 bytes</span>
			</li>
			<li>
				<span>Where</span>
				<span>~/Desktop/mp3/song.mp3</span>
			</li>
			<li>
				<span>Modified</span>
				<span>July 8, 2021 at 9:51 AM</span>
			</li>
		</ul>

		<legend>
			<i class="icon-chevron-right"></i>
			Open this kind with
		</legend>
		<ul>
			<li class="has-selectbox">
				<span>Apply for all</span>
				<span>
					<selectbox>
						<option selected="1">Text Edit</option>
					</selectbox>
				</span>
			</li>
		</ul>

		<legend>
			<i class="icon-chevron-right"></i>
			Preview
		</legend>
		<ul>
			<li class="preview">
				<div>
					
				</div>
			</li>
		</ul>

		<legend>
			<i class="icon-chevron-right"></i>
			Sharing
		</legend>
		<ul>
			<li class="sharing">
				<div>
					
				</div>
			</li>
		</ul>

	</div>
</content>
