<content>
	<div class="head">
			<!-- <i style="background-image: url(/app/ant/icons/app-icon-eniac.png);"></i> -->
		<!-- head content goes here -->
	</div>
	<div class="details">
		
		<legend class="expanded" data-click="toggle-wrapper">
			<i class="icon-chevron-right"></i>
			General
		</legend>
		<div class="wrapper general">
			<!-- general content goes here -->
		</div>

		<legend class="expanded1" data-click="toggle-wrapper">
			<i class="icon-chevron-right"></i>
			Open this kind with
		</legend>
		<div class="wrapper">
			<ul>
				<li class="has-selectbox">
					<span>Apply for all</span>
					<span>
						<selectbox>
							<option selected="1">Text Edit</option>
						</selectbox>
					</span>
				</li>
			</ul>
		</div>

		<legend class="expanded1" data-click="toggle-wrapper">
			<i class="icon-chevron-right"></i>
			Preview
		</legend>
		<div class="wrapper">
			<ul class="preview">
				<li>
					<div>
						
					</div>
				</li>
			</ul>
		</div>

		<legend class="expanded" data-click="toggle-wrapper">
			<i class="icon-chevron-right"></i>
			Sharing &amp; Permissions
		</legend>
		<div class="wrapper">
			<ul class="sharing">
				<li class="list">

					<div class="list_">
						<div class="list-header_">
							<span>Name</span>
							<span>Privelege</span>
						</div>
						<div class="list-body_">

							<div class="list-row_">
								<span>
									<i class="icon-user"></i>
									<span>Hakan Bilgin (me)</span>
								</span>
								<span>
									<i class="icon-sort"></i>
									<span>Read &amp; Write</span>
								</span>
							</div>

							<div class="list-row_">
								<span>
									<i class="icon-group"></i>
									<span>Everybody</span>
								</span>
								<span>
									<i class="icon-sort"></i>
									<span>No Access</span>
								</span>
							</div>

						</div>
					</div>

				</li>
				<li class="footer">
					<div class="option-buttons_">
						<span>
							<span class="icon-plus"></span>
						</span>
						<span class="disabled_">
							<span class="icon-minus"></span>
						</span>
						<span>
							<span class="icon-action-apply"></span>
						</span>
					</div>

					<i class="icon-padlock"></i>
				</li>
			</ul>
		</div>

	</div>
</content>
